<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
  <title>Fatty boom boom</title>
  
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  
  <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
  <script type='text/javascript' src='js/jquery.bgiframe.min.js'></script>
  <script type='text/javascript' src='js/jquery.ajaxQueue.js'></script>
  <script type='text/javascript' src='js/jquery.autocomplete.pack.js'></script>
  <script type="text/javascript"> 
  $(document).ready(function() {
    $("#item").focus().autocomplete("/items", {
      dataType: "json",
      minChars: 0,
      width: 455,
      highlight: false,
      autoFill: false,
      parse: function(data) {
        return $.map(data, function(row) {
          return {
            data: row,
            value: row.item,
            result: row.item
          }
        });
      },
      formatItem: function(row, i, max) {
        if(row.kcal) {
          return row.item + " [" + row.kcal + " kcal]";
        } else {
          return row.item;
        }
      },
      formatMatch: function(row, i, max) {
        return row.item + " " + row.kcal;
      },
      formatResult: function(row) {
        return row.item;
      }
    }).result(function(event, data, formatted) {
      $("#kcal").val(data.kcal);
    });
  });
  </script>  
  
</head>
 
<body>
 
<div id="wrapper">
 
  <div id="header">
    <h1>Fatty boom boom</h1>
    <h2>a food recording app</h2>
  </div>
    
  <%= yield %>
 
  <% unless @previously.nil? %>

    <h3>Previously eaten today</h3>

    <div id="previous">

    <% @previously.each do |item| %>

      <div class="item">
        <%= format_item(item) %>
        <div class="meta">
          <span class="date"><%= format_date(item.created_at) %></span>
          <span class="delete">
            <form method="post" action="/item/<%= item.id %>">
              <input type="hidden" name="_method" value="delete" />
              <input type="image" src="/images/delete.gif" />
            </form>
          </span>
        </div>
      </div>

    <% end %>

    </div>

  <% end %>
 
</div>

</body>
</html>