* {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

form { margin-bottom: 10px; }

fieldset {
  display: inline;
  border: none;
}

label { display: block; }

h1 {
  font-size: 300%;
  letter-spacing: -2px; 
  display: inline;
}

h2 {
  font-size: 150%;
  color: #ccc;
  display: inline;
}

h3 {
  font-size: 150%;
  margin: 20px 0 15px 0;
}

p { margin: 10px 0 0 0; }

a {
  background: #fff;
  color: #FC3A51;
  padding: 5px 7px 3px 7px;
  text-decoration: none;
}

#header {
  background: #FC3A51;
  width: 100%;
  position: relative;
  padding-top: 15px;
  margin-bottom: 7px;
}

#wrapper {
  width: 600px;
  background: #FC3A51;
  margin: 0 auto;
  padding: 0 20px 30px 20px;
  font-size: 120%;
}

#wrapper input[type=text] {
  font-size: 150%;
  padding: 5px;
}

#add-box {
  background: #DE3349;  
  padding: 15px 0 15px 22px;
  margin: 0 -22px;
}

span.error {
  background: url(/images/error.png) no-repeat left -2px;
  padding: 0 0 0 20px;
}

input#item {
  width: 440px;
  margin-right: 4px;
}
  
input#kcal {
  width: 60px;
  margin-right: 4px;
}

button#submit {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 8px;
  font-size: 110%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

button#submit:hover {
  background: #000;
  color: #fff;
}

button#submit:focus {
  background: #000;
  color: #fff;
}

#previous div.item {
  position: relative;
  background: #DE3349;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 130%;
  color: #e7e7e7;  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#previous div em {
  color: #FFCCCC;
  font-style: normal;
  font-size: 80%;
}

div.meta {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
}

span.date {
  width: 100%;
  display: block;
  position: absolute;
  right: 60px;
  height: 100%;
  color: #e7e7e7;
  font-size : 90%;
  text-align: right;
  padding-top: 10px;
}

span.delete {
  background: #E7354B;
  width: 46px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
}

#archive {
  font-size: 100%;
  margin-top: 30px;
}

#archive a {
  margin-right: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#archive a:hover { text-decoration: underline; }

/*************************************************
 * Autocompleter styles
 ************************************************/
.ac_results {
  color: #000;
	border: 1px solid #000;
	background-color: #fff;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
}

.ac_results li {
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
}

.ac_loading {
  background: #fff url(/images/indicator.gif) right center no-repeat;
}

.ac_odd { background-color: #eee; }

.ac_over {
	background-color: #0A246A;
	color: #fff;
}